In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_dataset_1000.csv')

In [4]:
df.shape
# df.head()

(1000, 8)

In [5]:
df.isnull().sum()

ID              0
Name            0
Age             0
Gender          0
Salary          0
Joining Date    0
Is Active       0
Comments        0
dtype: int64

if age and salary columns have any missing value

In [6]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

if name or gender is missing

In [8]:
#mode() ka output list/series hota hay...
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
df['Name'] = df['Name'].fillna(df['Name'].mode()[0])

if joining date is missing

In [9]:
df['Joining Date'] = df['Joining Date'].fillna(df['Joining Date'].min())

if comments are missing, write your own or write unknown

**Label Transform for categorical data**

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['Gender'] = le.fit_transform(df['Gender'])
df['Is Active'] = le.fit_transform(df['Is Active'])

In [11]:
df.head()

,ID,Name,Age,Gender,Salary,Joining Date,Is Active,Comments
0,1,Paul,25,0,90041.86,2017-01-31,0,Creative
1,2,Paul,31,1,90285.02,2019-05-29,0,Needs Improvement
2,3,Rachel,30,1,84321.65,2022-12-14,0,Hardworking
3,4,Bob,45,1,68189.99,2023-09-05,1,Fast Learner
4,5,Eve,34,1,35428.35,2018-05-19,1,Dedicated

**one hot encoding**

In [12]:
encoded_col = pd.get_dummies(df['Is Active'], prefix='IsActive')

df = pd.concat([df, encoded_col], axis=1).drop(columns=['Is Active'])

df.to_csv('cleaned_sample_1000.csv', index=False)

df.head()

,ID,Name,Age,Gender,Salary,Joining Date,Comments,IsActive_0,IsActive_1
0,1,Paul,25,0,90041.86,2017-01-31,Creative,True,False
1,2,Paul,31,1,90285.02,2019-05-29,Needs Improvement,True,False
2,3,Rachel,30,1,84321.65,2022-12-14,Hardworking,True,False
3,4,Bob,45,1,68189.99,2023-09-05,Fast Learner,False,True
4,5,Eve,34,1,35428.35,2018-05-19,Dedicated,False,True